<!doctype html>
<html>
  <head><title>{{ question.question_text }}</title></head>
  <body>
    <h1>{{ question.question_text }}</h1>

    {% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      {% for choice in question.choices.all %}
        <label><input type="radio" name="choice" value="{{ choice.id }}"> {{ choice.choice_text }}</label><br>
      {% endfor %}
      <button type="submit">Vote</button>
    </form>

    <p><a href="{% url 'polls:index' %}">Back</a></p>
  </body>
</html>

